body {
    font-family: 'Open Sans', serif;
    padding-top: 54px;
    color: #000000;
}

@media (min-width: 992px) {
    body {
        padding-top: 0;
        padding-left: 17rem
    }
}

.button {
    --offset: 10px;
    --border-size: 2px;
    display: block;
    position: relative;
    padding: 1.5em 3em;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: 0;
    background: transparent;
    color: #ffc107;
    text-transform: uppercase;
    letter-spacing: .25em;
    outline: none;
    cursor: pointer;
    font-weight: bold;
    border-radius: 0;
    -webkit-box-shadow: inset 0 0 0 var(--border-size) currentcolor;
    box-shadow: inset 0 0 0 var(--border-size) currentcolor;
    -webkit-transition: background .8s ease;
    transition: background .8s ease;
}
.button:hover {
    background: rgba(100, 0, 0, 0.03);
}
.button__horizontal, .button__vertical {
    position: absolute;
    top: var(--horizontal-offset, 0);
    right: var(--vertical-offset, 0);
    bottom: var(--horizontal-offset, 0);
    left: var(--vertical-offset, 0);
    -webkit-transition: -webkit-transform .8s ease;
    transition: -webkit-transform .8s ease;
    transition: transform .8s ease;
    transition: transform .8s ease, -webkit-transform .8s ease;
    will-change: transform;
}
.button__horizontal::before, .button__vertical::before {
    content: '';
    position: absolute;
    border: inherit;
}
.button__horizontal {
    --vertical-offset: calc(var(--offset) * -1);
    border-top: var(--border-size) solid currentcolor;
    border-bottom: var(--border-size) solid currentcolor;
}
.button__horizontal::before {
    top: calc(var(--vertical-offset) - var(--border-size));
    bottom: calc(var(--vertical-offset) - var(--border-size));
    left: calc(var(--vertical-offset) * -1);
    right: calc(var(--vertical-offset) * -1);
}
.button:hover .button__horizontal {
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
}
.button__vertical {
    --horizontal-offset: calc(var(--offset) * -1);
    border-left: var(--border-size) solid currentcolor;
    border-right: var(--border-size) solid currentcolor;
}
.button__vertical::before {
    top: calc(var(--horizontal-offset) * -1);
    bottom: calc(var(--horizontal-offset) * -1);
    left: calc(var(--horizontal-offset) - var(--border-size));
    right: calc(var(--horizontal-offset) - var(--border-size));
}
.button:hover .button__vertical {
    -webkit-transform: scaleY(0);
    transform: scaleY(0);
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Saira Extra Condensed', serif;
    font-weight: 700;
    text-transform: uppercase;
    color: #050508
}

h1 {
    font-size: 6rem;
    line-height: 5.5rem
}

h2 {
    font-size: 3.5rem
}

.subheading {
    text-transform: uppercase;
    font-weight: 500;
    font-family: 'Saira Extra Condensed', serif;
    font-size: 1.35rem
}

.list-social-icons a {
    color: #495057
}

.list-social-icons a:hover {
    color: #ffc107;
}

.list-social-icons a .fa-lg {
    font-size: 1.75rem
}

.list-icons {
    font-size: 3rem
}

.list-icons .list-inline-item i:hover {
    color: #ffc107;
}

#sideNav .navbar-nav .nav-item .nav-link {
    font-weight: 600;
    text-transform: uppercase
}

@media (min-width: 992px) {
    #sideNav {
        text-align: center;
        position: fixed;
        top: 0;
        left: 0;
        display: flex;
        flex-direction: column;
        width: 17rem;
        height: 100vh
    }

    #sideNav .navbar-brand {
        display: flex;
        margin: auto auto 0;
        padding: .5rem
    }

    #sideNav .navbar-brand .img-profile {
        max-width: 10rem;
        max-height: 10rem;
        border: .5rem solid rgba(255, 255, 255, .2)
    }

    #sideNav .navbar-collapse {
        display: flex;
        align-items: flex-start;
        flex-grow: 0;
        width: 100%;
        margin-bottom: auto
    }

    #sideNav .navbar-collapse .navbar-nav {
        flex-direction: column;
        width: 100%
    }

    #sideNav .navbar-collapse .navbar-nav .nav-item {
        display: block
    }

    #sideNav .navbar-collapse .navbar-nav .nav-item .nav-link {
        display: block
    }
}

section.resume-section {
    border-bottom: 1px solid #dee2e6;
    padding-top: 5rem !important;
    padding-bottom: 5rem !important
}

section.resume-section .resume-item .resume-date {
    min-width: none
}

@media (min-width: 768px) {
    section.resume-section {
        min-height: 100vh
    }

    section.resume-section .resume-item .resume-date {
        min-width: 18rem
    }
}

@media (min-width: 992px) {
    section.resume-section {
        padding-top: 3rem !important;
        padding-bottom: 3rem !important
    }
}

.bg-primary {
    background-color: #ffc107 !important
}

.text-primary {
    color: #ffc107 !important
}

a {
    color: #ffc107;
}

a:active, a:focus, a:hover {
    color: #824027
}