body {
    font-family: 'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-weight: 700;
}

hr.style {
    height: 6px;
    background: url(http://ibrahimjabbari.com/english/images/hr-11.png) repeat-x 0 0;
    border: 0;
}

header.masthead {
    position: relative;
    padding-top: 8rem;
    padding-bottom: 8rem;
}

header.masthead .overlay {
    position: absolute;
    background-color: #212529;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    opacity: 0.3;
}

header.masthead h1 {
    font-size: 2rem;
}

@media (min-width: 768px) {
    header.masthead {
        padding-top: 12rem;
        padding-bottom: 12rem;
    }

    header.masthead h1 {
        font-size: 3rem;
    }
}

.showcase .showcase-text {
    padding: 3rem;
}

.showcase .showcase-img {
    min-height: 30rem;
    background-size: cover;
}

@media (min-width: 768px) {
    .showcase .showcase-text {
        padding: 7rem;
    }
}

.features-icons {
    padding-top: 7rem;
    padding-bottom: 7rem;
}

.features-icons .features-icons-item {
    max-width: 20rem;
}

.features-icons .features-icons-item .features-icons-icon {
    height: 7rem;
}

.features-icons .features-icons-item .features-icons-icon i {
    font-size: 4.5rem;
}

.features-icons .features-icons-item:hover .features-icons-icon i {
    font-size: 5rem;
}

.testimonials {
    padding-top: 7rem;
    padding-bottom: 7rem;
}

.testimonials .testimonial-item {
    max-width: 18rem;
}

.testimonials .testimonial-item img {
    max-width: 12rem;
    box-shadow: 0 5px 5px 0 #adb5bd;
}

.call-to-action {
    position: relative;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    padding-top: 7rem;
    padding-bottom: 7rem;
}

.call-to-action .overlay {
    position: absolute;
    background-color: #212529;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    opacity: 0.3;
}

footer.footer {
    padding-top: 4rem;
    padding-bottom: 4rem;
}

.title {
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 30px;
    color: #c2000e;
    font-weight: 300;
    font-size: 24px;
    letter-spacing: 1px;
}

.description {
    text-align: center;
    color: #666666;
    margin-bottom: 30px;
}

.help {
    float: right;
    color: #c2000e;
    -webkit-transition: all 300ms linear;
    transition: all 300ms linear;
}

.help:hover {
    color: #8f000a;
}

.button {
    margin: 20px 0 0 0;
    padding: 10px 20px;
    border-radius: 0px;
    background: #c2000e;
    color: white;
    text-transform: uppercase;
    letter-spacing: 1px;
    display: inline-block;
    cursor: pointer;
}

.button:hover {
    background: #8f000a;
}

.previous:hover {
    background: #1b1e21;
}

#submit-booking:hover {
    background: #0b2e13;
}

#cancel-booking:hover {
    background: #8f000a;
}

.next:hover {
    background: #0b2e13;
}

.alert {
    border-radius: 0px;
}

.alert-danger {
    color: #c2000e;
    background-color: #fff5f6;
    border-color: #ffdcde;
    border-left: 3px solid #c2000e;
}

.alert-danger .icon {
    font-weight: bold;
}

.alert-danger .icon:before {
    content: "\f12a";
    font-family: 'FontAwesome';
    display: inline-block;
    position: relative;
    margin-right: 10px;
}

code {
    color: #666666;
    background-color: rgba(231, 231, 231, 0.5);
    border-radius: 0px;
}

.text-center {
    text-align: center;
}

.modal-wrap {
    max-width: 600px;
    margin: 50px auto;
    -webkit-transition: -webkit-transform 300ms ease-in-out;
    transition: -webkit-transform 300ms ease-in-out;
    transition: transform 300ms ease-in-out;
    transition: transform 300ms ease-in-out, -webkit-transform 300ms ease-in-out;
}

.modal-header span {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    height: 20px;
    width: 20px;
    margin: 5px;
    border-radius: 50%;
    background: rgba(0, 0, 0, 0.2);
    -webkit-transition: all 300ms linear;
    transition: all 300ms linear;
}

.modal-header span.is-active {
    background: rgba(0, 128, 37, 0.5);
}

.modal-header span.is-valid {
    background: #008025;
}

.modal-header span.is-valid:before {
    content: '\f00c';
    font-family: 'FontAwesome';
    color: white;
    display: block;
    position: relative;
    -webkit-animation: itemScale 200ms linear;
    animation: itemScale 200ms linear;
}

.modal-header span.is-invalid {
    background: #c2000e;
}

.modal-header span.is-invalid:before {
    content: '\f00d';
    font-family: 'FontAwesome';
    color: white;
    display: block;
    position: relative;
    -webkit-animation: itemScale 200ms linear;
    animation: itemScale 200ms linear;
}

.modal-bodies {
    position: relative;
    -webkit-perspective: 1000px;
    perspective: 1000px;
}

.modal-body {
    background: white;
    border: 1px solid #008025;
    border-top: 0px;
    padding: 40px 100px;
    -webkit-box-shadow: 0px 50px 30px -30px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 50px 30px -30px rgba(0, 0, 0, 0.3);
    margin-bottom: 50px;
    position: absolute;
    top: 0;
    display: none;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    -webkit-transform-origin: top left;
    transform-origin: top left;
}

.modal-body.is-showing {
    display: block;
}

.popover {
    border-radius: 0px;
    border-color: #008025;
    width: 100%;
}

.popover > .arrow {
    border-left-color: #008025 !important;
}

.popover-title {
    border-radius: 0px;
    border-color: #008025;
    background-color: #e7e7e7;
}

.popover-content {
    border-radius: 0px;
}

.animate-out-to-left {
    -webkit-animation: out-left 600ms ease-in-out forwards;
    animation: out-left 600ms ease-in-out forwards;
}

.animate-out-to-right {
    -webkit-animation: out-right 600ms ease-in-out forwards;
    animation: out-right 600ms ease-in-out forwards;
}

.animate-in-from-left {
    -webkit-animation: in-left 500ms ease-in-out forwards;
    animation: in-left 500ms ease-in-out forwards;
    display: block;
}

.animate-in-from-right {
    -webkit-animation: in-right 500ms ease-in-out forwards;
    animation: in-right 500ms ease-in-out forwards;
    display: block;
}

.animate-up {
    -webkit-transform: translateY(-100vh) rotate(30deg);
    transform: translateY(-100vh) rotate(30deg);
}

.input-error {
    border-color: #c2000e !important;
}

.shake {
    -webkit-animation: shake 500ms linear forwards;
    animation: shake 500ms linear forwards;
}

@-webkit-keyframes out-left {
    0% {
        -webkit-transform: translateX(0px);
        transform: translateX(0px);
        opacity: 1;
    }
    100% {
        -webkit-transform: translateX(-100vw);
        transform: translateX(-100vw);
        opacity: 0;
    }
}

@keyframes out-left {
    0% {
        -webkit-transform: translateX(0px);
        transform: translateX(0px);
        opacity: 1;
    }
    100% {
        -webkit-transform: translateX(-100vw);
        transform: translateX(-100vw);
        opacity: 0;
    }
}

@-webkit-keyframes out-right {
    0% {
        -webkit-transform: translateX(0px);
        transform: translateX(0px);
        opacity: 1;
    }
    100% {
        -webkit-transform: translateX(100vw);
        transform: translateX(100vw);
        opacity: 0;
    }
}

@keyframes out-right {
    0% {
        -webkit-transform: translateX(0px);
        transform: translateX(0px);
        opacity: 1;
    }
    100% {
        -webkit-transform: translateX(100vw);
        transform: translateX(100vw);
        opacity: 0;
    }
}

@-webkit-keyframes in-left {
    0% {
        -webkit-transform: translateX(-100vw);
        transform: translateX(-100vw);
        opacity: 0;
    }
    100% {
        -webkit-transform: translateX(0px);
        transform: translateX(0px);
        opacity: 1;
    }
}

@keyframes in-left {
    0% {
        -webkit-transform: translateX(-100vw);
        transform: translateX(-100vw);
        opacity: 0;
    }
    100% {
        -webkit-transform: translateX(0px);
        transform: translateX(0px);
        opacity: 1;
    }
}

@-webkit-keyframes in-right {
    0% {
        -webkit-transform: translateX(100vw);
        transform: translateX(100vw);
        opacity: 0;
    }
    100% {
        -webkit-transform: translateX(0px);
        transform: translateX(0px);
        opacity: 1;
    }
}

@keyframes in-right {
    0% {
        -webkit-transform: translateX(100vw);
        transform: translateX(100vw);
        opacity: 0;
    }
    100% {
        -webkit-transform: translateX(0px);
        transform: translateX(0px);
        opacity: 1;
    }
}

@-webkit-keyframes shake {
    0% {
        -webkit-transform: translateX(0px);
        transform: translateX(0px);
    }
    10% {
        -webkit-transform: translateX(-10px);
        transform: translateX(-10px);
    }
    20% {
        -webkit-transform: translateX(0px);
        transform: translateX(0px);
    }
    30% {
        -webkit-transform: translateX(10px);
        transform: translateX(10px);
    }
    40% {
        -webkit-transform: translateX(0px);
        transform: translateX(0px);
    }
    50% {
        -webkit-transform: translateX(-10px);
        transform: translateX(-10px);
    }
    60% {
        -webkit-transform: translateX(0px);
        transform: translateX(0px);
    }
    70% {
        -webkit-transform: translateX(10px);
        transform: translateX(10px);
    }
    80% {
        -webkit-transform: translateX(0px);
        transform: translateX(0px);
    }
    90% {
        -webkit-transform: translateX(-10px);
        transform: translateX(-10px);
    }
    100% {
        -webkit-transform: translateX(0px);
        transform: translateX(0px);
    }
}

@keyframes shake {
    0% {
        -webkit-transform: translateX(0px);
        transform: translateX(0px);
    }
    10% {
        -webkit-transform: translateX(-10px);
        transform: translateX(-10px);
    }
    20% {
        -webkit-transform: translateX(0px);
        transform: translateX(0px);
    }
    30% {
        -webkit-transform: translateX(10px);
        transform: translateX(10px);
    }
    40% {
        -webkit-transform: translateX(0px);
        transform: translateX(0px);
    }
    50% {
        -webkit-transform: translateX(-10px);
        transform: translateX(-10px);
    }
    60% {
        -webkit-transform: translateX(0px);
        transform: translateX(0px);
    }
    70% {
        -webkit-transform: translateX(10px);
        transform: translateX(10px);
    }
    80% {
        -webkit-transform: translateX(0px);
        transform: translateX(0px);
    }
    90% {
        -webkit-transform: translateX(-10px);
        transform: translateX(-10px);
    }
    100% {
        -webkit-transform: translateX(0px);
        transform: translateX(0px);
    }
}

@-webkit-keyframes itemScale {
    0% {
        opacity: 0;
        -webkit-transform: scale(0);
        transform: scale(0);
    }
    100% {
        opacity: 1;
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}

@keyframes itemScale {
    0% {
        opacity: 0;
        -webkit-transform: scale(0);
        transform: scale(0);
    }
    100% {
        opacity: 1;
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}
