<div th:fragment="navigation" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.w3.org/1999/xhtml">
    <th:block th:with="viewName=${#httpServletRequest.getServletPath()},backgroundStyle=${'bg-dark'}">
    <!-- Navigation -->
    <nav class="navbar navbar-expand-md navbar-dark fixed-top " th:classappend="${backgroundStyle}">
        <div th:unless="${viewName.equals('/search')}">
            <a class="navbar-brand" th:href="@{/search}">Домашня сторінка</a>
        </div>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse"
                aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav mr-auto">
                <th:block th:if="${viewName.equals('/clinic-edit')}">
                    <li class="nav-item active">
                        <a class="nav-link" th:href="@{/doctors-table}">Лікарі<span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" th:href="@{/services}">Послуги<span class="sr-only">(current)</span></a>
                    </li>
                </th:block>

                <th:block th:if="${viewName.equals('/doctors-table')}">
                    <li class="nav-item active">
                        <a class="nav-link" th:href="@{/doctors-table}">Лікарі<span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" th:href="@{/services}">Послуги<span class="sr-only">(current)</span></a>
                    </li>
                </th:block>

                <th:block th:if="${viewName.equals('/services')}">
                    <li class="nav-item active">
                        <a class="nav-link" th:href="@{/doctors-table}">Лікарі<span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" th:href="@{/services}">Послуги<span class="sr-only">(current)</span></a>
                    </li>
                </th:block>
            </ul>

            <div sec:authorize="isAuthenticated()" class="btn-group" id="user-account-button">
            <span class="d-inline-block">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item dropdown hidden-md-down">
                        <button sec:authentication="name" type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown"
                                aria-haspopup="true" aria-expanded="false" id="settings-button">
                            </button>
                            <div class="dropdown-menu dropdown-menu-right">
                                <div sec:authorize="hasAuthority('PATIENT')">
                                    <a class="dropdown-item" th:unless="${viewName.equals('/patient-edit')}" th:href="@{/patient-edit}" id="profile-button">Профіль</a>
                                </div>

                                <div sec:authorize="hasAuthority('CLINIC')">
                                    <a class="dropdown-item" th:unless="${viewName.equals('/clinic-edit')}" th:href="@{/clinic-edit}">Профіль</a>
                                </div>

                                <a class="dropdown-item" th:href="@{/records}" th:unless="${viewName.equals('/records')}" id="records-button">
                                    Записи до лікарів
                                </a>
                                <a class="dropdown-item" th:href="@{/logout}" id="logout">Вийти з аккаунту</a>
                            </div>
                    </li>
                </ul>
            </span>
            </div>
            <div sec:authorize="!isAuthenticated()" class="btn-group" id="auth-buttons">
            <span class="d-inline-block">
                <button th:unless="${viewName.equals('/login')}" type="button"
                        class="btn btn-primary" id="author-btn">
                    Авторизація
                </button>
                <ul class="navbar-nav ml-auto" style="float: right; padding-left: 3px;">
                    <li class="nav-item dropdown hidden-md-down">
                        <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown"
                                aria-haspopup="true" aria-expanded="false">
                                Реєстрація
                            </button>
                            <div class="dropdown-menu dropdown-menu-right">
                                <a class="dropdown-item" th:unless="${viewName.equals('/clinic-sign-up')}" th:href="@{/clinic-sign-up}">
                                    Зареєструватись як клініка
                                </a>
                                <a class="dropdown-item" th:unless="${viewName.equals('/patient-sign-up')}" th:href="@{/patient-sign-up}">
                                    Зареєструватись як пацієнт
                                </a>
                            </div>
                    </li>
                </ul>
            </span>
            </div>
        </div>
    </nav>
    </th:block>
</div>